
.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}




#projects {
    color:#0b0c0c ;
}

section {
    padding-top: 5rem;
}

.gallery-img {
    width: 100%;
}

#gallery .row > * {
    padding: 0;
}

/* gambar */
.gambar-box {
    position: relative;
    background-color: #0c6efd;
    border-radius: 10px;
    height: 500px;
    transform-style: preserve-3d;
}

.gambar-box::before {
    content: 'MY';
    position: absolute;
    color: #fff;
    font-size: 6em;
    font-weight: bold;
    font-style: italic;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}

.gambar-box:hover::before {

    opacity: 0.4;
}

.gambar-box::after {
    content: 'Alam';
    position: absolute;
    color: #fff;
    font-size: 5em;
    font-weight: bold;
    font-style: italic;
    top: 350px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}

.gambar-box:hover::after {

    opacity: 0.4;
}

.gambar-aja {
    top: 0;
    width: 100%;
    position: absolute;
    color: #ffff;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    transform: translate3d(0, 0, 50px);
    transition: 0.5s;
}
.gambar-box:hover .gambar-aja {
    top: 20px;
    opacity: 1;
}

.pantai-detail-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 100px);
    opacity: 0;
    transition: 0.5s;
}

.gambar-box:hover .pantai-detail-button {
    opacity: 1;
    bottom: 20px;
}

.satu-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 80px);
    max-width: 250px;
    transition: 0.5s;
}

.gambar-box:hover .satu-img {
    transform: translate(-50%, -50%, 100px) rotate(5deg) scale(1.2);
}